# cSpell: disable
Checks: "*\
  ,-altera-unroll-loops\
  ,-android-cloexec-fopen\
  ,-cert-dcl50-cpp\
  ,-cppcoreguidelines-avoid-c-arrays\
  ,-cppcoreguidelines-pro-bounds-array-to-pointer-decay\
  ,-cppcoreguidelines-pro-bounds-pointer-arithmetic\
  ,-cppcoreguidelines-pro-type-vararg\
  ,-fuchsia-trailing-return\
  ,-google-readability-casting\
  ,-google-readability-namespace-comments\
  ,-hicpp-avoid-c-arrays\
  ,-hicpp-deprecated-headers\
  ,-hicpp-named-parameter\
  ,-hicpp-no-array-decay\
  ,-hicpp-vararg\
  ,-llvm-namespace-comment\
  ,-llvm-qualified-auto\
  ,-llvmlibc-callee-namespace\
  ,-llvmlibc-implementation-in-namespace\
  ,-llvmlibc-restrict-system-libc-headers\
  ,-modernize-avoid-c-arrays\
  ,-modernize-deprecated-headers\
  ,-readability-make-member-function-const\
  ,-readability-named-parameter\
  ,-readability-qualified-auto\
  "
